<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="logo.webp" />
    <title>Samplify</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    </script>
</head>

<body>
    <div class='container'>
      <div class='header'>
        <h1 class='header-text'>Oops<i class="fa fa-music"></i></h1>
      </div>

        
      <div id="login-container" style="justify-content:center;">
        <div id="login-form">
          <h4>The page you are looking for does not exist</h4>
          <a href="/">Home</a>
        </div>
      </div>
    
</body>

</html>