.header-text{
  font-weight: bolder;
}

.container {
  user-select: none;
}

.play-container {
  user-select: none;
  display: flex;
  flex-direction: row;
}

.header {
  background-color: #495057;
  height: 100px;
  padding-top: 25px;
  padding-bottom: 100px;
  color: white;
  text-align: center;
}

.search-row {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.search-input {
  width:100%
}

.custom-select {
  position: relative;
  font-family: Arial;
  width:200px;
}

.results {
  overflow-y: auto;
  max-height: 200px;
}

.results-table {
  margin-bottom: 15px;
}

.playlists {
  height: 300px;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.pl-input {
  padding: 5px;
  position: relative;
}

.list-view {
  padding: 25px
}

.pl-in-row {
  margin-top: 10px;
}

.pl-content {
  margin-top: 25px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

.pl-name {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 10px;
  height: 30px;
  width: 250px;
  overflow: hidden;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}


.pl-desc {
  margin-bottom: 10px;
  margin-left: 25px;
  height: 150px;
  width: 250px;
  color: black;
  font-size: 15px;
  overflow-y: auto;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
}

.pl-samples {
  height: 250px;
  width: 100%;
  background-color: white;
  margin: 25px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#edit {
  margin-left: 25px;
}

[contenteditable="true"].pl-name {
  white-space: nowrap;
  width:250px;
  overflow: hidden;
} 
[contenteditable="true"].pl-name br {
  display:none;

}
[contenteditable="true"].pl-name * {
  display:inline;
  white-space:nowrap;
}